/* styles.css */

/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

/* Add basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: befcd8ff;
  color: #2D898B;
}

header {
  background-color: #1f7335;
  padding: 20px;
  color: #2D898B;
}

h1 {
  color: #2D898B;
  background-color: #befcd8ff; /* White background for highlighting */
  padding: 5px; /* Adjust padding as desired */
  display: inline-block; /* Ensure the background only covers the text */
}

h2, h3 {
  color: #2D898B;
  display: inline-block; /* Ensure the background only covers the text */
}
nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 40px 20px;
  background-color: #befcd8ff;
}

#hero {
  background-image: url('MedSymb.png');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #2D898B;
}

#hero-about {
  background-image: url('MedSym.');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #2D898B;
  
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0;
  
}

#about {
  text-align: center;
}

#projects {
  text-align: center;
}

.project {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #befcd8ff;
  border-radius: 5px;
}

footer {
  background-color: #befcd8ff;
  padding: 10px;
  text-align: center;
  color: #2D898B;
}

h4 {
  color: #2D898B;
  background-color: #befcd8ff;
}